@use "variable";

.top{
   padding-top: 94px;
   padding-bottom: 84px;
   background-color: variable.$base-color;
   position: relative;
   margin-top: 90px;
   @include variable.mq(tab){
      padding-top: 80px;
      padding-bottom: 80px;
   }
   @include variable.mq(){
      padding-top: 30px;
      padding-bottom: 23px;
      margin-top: 60px;
   }
   &::after{
      position: absolute;
      content: "";
      width: 75%;
      height: 100%;
      background: url(../img/top.jpeg) no-repeat center center / cover;
      right: 0;
      top: 0;
      @include variable.mq(){
         width: 82.1%;
      }
   }
}
.top-title{
   font-family: variable.$font-en1;
   font-size: 100px;
   color: #fff;
   margin-bottom: 37px;
   position: relative;
   z-index: 50;
   span{
      color: variable.$key-color;
   }
   @include variable.mq(tab){
      font-size: 72px;
   }
   @include variable.mq(){
      font-size: 36px;
      margin-bottom: 15px;
   }
}
.top-lead{
   color: #fff;
   font-size: 32px;
   line-height: 1.44;
   position: relative;
   z-index: 50;

   @include variable.mq(tab){
      font-size: 26px;
   }

   span{
      display: inline-block;
      background-color: variable.$key-color;
      margin-top: 21px;
      padding-right: 21px;
   }

   @include variable.mq(){
      font-size: 14px;
      margin-top: 9px;
      padding-right: 8px;
   }
}

.top2{
   padding-top: 120px;
   padding-bottom: 110px;
   text-align: center;
   background: url(../img/top_bg.svg) no-repeat left bottom;
   background-color: variable.$base-color;
   color: #fff;
   @include variable.mq(tab){
      padding-top: 100px;
      padding-bottom: 80px;
   }
   @include variable.mq(){
      padding-top: 48px;
      padding-bottom: 64px;
      background: url(../img/top_bg_sp.svg) no-repeat center bottom;
      background-color: variable.$base-color;
   }
}

.top2-title{
   font-weight: 700;
   font-size: 30px;
   line-height: 1.5;
   margin-bottom: 48px;
   @include variable.mq(){
      font-size: 20px;
      margin-bottom: 24px;
   }
}
.top2-lead{
   font-size: 18px;
   line-height: 1.5;
   font-weight: 400;
   @include variable.mq(){
      font-size: 16px;
   }
}
