@use "variable";
@use "header";
@use "top";
@use "about";
@use "menu";
@use "shop";
@use "contact";
@use "footer";


body{
   font-family: variable.$font-ja;
   line-height: 1.44;
   color: variable.$text;
   background-color: variable.$main-color;
}

img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.container{
   padding: 0 180px;
   max-width: 1440px;
   margin: 0 auto;
   @include variable.mq(tab){
      padding: 0 40px;
   }
   @include variable.mq(){
      padding: 0 16px;
   }
}

.section-title{
   text-align: center;
   font-size: 18px;
   font-weight: 700;
   color: variable.$key-color;
   span{
      font-family: variable.$font-en1;
      color: variable.$text;
      font-size: 48px;
      display: inline-block;
      margin-top: 16px;
      padding-bottom: 16px;
      position: relative;
      &::after{
         position: absolute;
         content: "";
         width: 50px;
         height: 2px;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         background-color: variable.$key-color;
      }
   }

   @include variable.mq(){
      font-size: 14px;
      span{
         font-size: 32px;
         margin-top: 12px;
         padding-bottom: 12px;
      }
   }
}

.is-pc{
   @include variable.mq(){
      display: none;
   }
 
}

.is-sp{
   @include variable.mq(pc){
      display: none;
   }
   @include variable.mq(tab){
      display: none;
   }
}

.to-top{
   position: absolute;
   right: 60px;
   top: -60px;
   @include variable.mq(tab){
      right: 40px;
   }

   @include variable.mq(){
      right: 16px;
      top: -35px;
   }

   img{
      width: 35px;
      height: 35px;
      object-fit: contain;
      @include variable.mq(){
         width: 20px;
         height: 20px;
      }
   }

   a{
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      background-color: #fff;
      border: 2px solid variable.$text;
      color: variable.$text;
      padding-top: 25px;
      transition: all .3s;
      @include variable.mq(){
         width: 70px;
         height: 70px;
         padding-top: 12px;
      }
      p{
         font-size: 16px;
         font-family: variable.$font-en1;
         @include variable.mq(){
            font-size: 12px;
         }
      }

      &:hover{
         opacity: .7;
      }
   }
}


.insert{
   object-fit: cover;
   width: 100%;
   object-position: center;
}

.simpleParallax.simple-parallax-initialized{
   height: 450px;
   @include variable.mq(tab){
      height: 320px;
   }
   @include variable.mq(){
      height: 250px;
   }
}